<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Softgames Assignment</title>
  <style>
    html, body { margin: 0; padding: 0; height: 100%; overflow: hidden; }
    canvas { display: block; }
  </style>
</head>
<body>
  <script type="module" src="./src/main.ts"></script>
</body>
</html>